.warnings {
  font-size: 0.7rem;
  line-height: 1.2rem;
  margin-bottom: 3rem;
  opacity: 0.7;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      &:nth-child(2) span:nth-child(3) {
        color: $red;
        font-size: 0.8rem;
      }
      span {
        color: $orange;
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
  }
}

.searchArea {
  font-size: 1.2rem;
  form div {
    display: flex;
    flex-direction: column;
  }
  label,
  * {
    margin-bottom: 0.5rem;
  }
  input,
  select {
    height: 1.7rem;
    max-width: 12rem;
    border-radius: 0.2rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1rem;
  }
  button {
    max-width: 6rem;
    border-radius: 3px;
  }
}

hr {
  margin-top: 3rem;
}
