.display {
  display: inline-block;
  text-align: left;
  max-width: 30rem;
}

.warnings {
  font-size: 0.7rem;
  li {
    list-style-type: none;
    &:nth-child(3) span {
      font-style: italic;
      color: $orange;
      font-size: 0.8rem;
    }
    span {
      color: $orange;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

.searchArea {
  margin-top: 2rem;
  font-size: 1.2rem;
  margin-left: 2rem;
  label,
  * {
    display: block;
    margin-bottom: 0.5rem;
  }
  input,
  select {
    height: 1.7rem;
    width: 12rem;
    border-radius: 0.2rem;
    font-family: $mainFont;
    margin-bottom: 1rem;
  }
}

hr {
  margin-top: 3rem;
}
