@font-face {
  font-family: "Code";
  src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-display: swap;
}

.resultsArea {
  margin-top: 2rem;
  .individual-result {
    margin-bottom: 3.5rem;
    .category {
      color: $white;
      font-size: 0.8rem;
      padding: 0 0.7rem 0.1rem 0.7rem;
      border-radius: 0.2rem;
      border: 2px solid $pink;
    }
    .action {
      font-size: 1.2rem;
      margin: 0.2rem 0 0 0;
      color: $red;
      padding: 0.5rem 0 0.5rem 0;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
    }
    .shortcut {
      font-size: 1.1rem;
      color: $pink;
      pre {
        background-color: $grey;
        border-radius: 5px;
        max-width: 35rem;
        padding: 1rem;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        margin: 0.7rem 0;
        code {
          color: white;
          background: none;
          font-size: 0.9rem;
          padding: 0;
          font-weight: normal;
        }
      }
      code {
        font-family: "Code", sans-serif;
        background-color: $red;
        color: $black;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 0.1rem 0.4rem;
        border-radius: 0.2rem;
      }
    }
  }
}

.action > .highlight {
  background-color: $white;
  color: $black;
}

.shortcut > .highlight {
  background-color: $white;
  color: $black;
}
