@import "_variables";
@import "_form";
@import "_results";
@import "_loader";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-display: swap;
}

html {
  background-image: url("../pics/background_opacity.webp");
  background-size: auto;
  background-attachment: fixed;
  background-position: bottom;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  font-family: "Open Sans", sans-serif;
}

main {
  overflow: hidden;
  padding: 0 1rem;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: x-large;
  text-align: center;
  margin: 1.5rem 0 0 0;
}

.shortcuts-found p {
  margin-top: 0;
  span {
    font-weight: bold;
    color: $red;
  }
}

.credits {
  margin: 2rem 0;
  text-align: center;
  p {
    font-size: 0.7rem;
    opacity: 0.6;
    a {
      color: $white;
    }
  }
}
